# Core packages
streamlit
numpy
pandas
librosa
soundfile
plotly
matplotlib
scikit-learn
tensorflow
keras
torch
torchaudio
numba
llvmlite

# Optional but common for notebooks
jupyter
ipython

# Additional packages
fpdf
imbalanced-learn
nltk
reportlab
speechrecognition
joblib
